body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
}

.container {
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #1e272e; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'Georgia', serif;
}

.header-image {
    max-width: 99%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #2c3e50; /* Azul más claro */
    color: #fff;
    padding: 20px;
    z-index: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    font-weight: bold;
    background-color: #34495e; /* Azul aún más claro */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #3d566e; /* Azul claro al pasar el cursor */
    transform: translateX(5px);
}

.main-content {
    margin-left: 240px;
}
